/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keypos/corne.dtsi"
#include "behaviors/autoshift.dtsi"
#include "behaviors/homerowmods.dtsi"

#include "layouts/enthium.dtsi"
#include "layouts/numbers.dtsi"
#include "layouts/symbols.dtsi"


/**
 * Layers
 *
 * The following icons from a Nerd Font
 * are the symbolid representation of layers and actions on layers.
 *
 * 󰱞   Close current layer, return to base layer
 *
 * 󰪸   Typing layer
 * 󰎢   Base layer
 * 󰎥   Numbers
 * 󰎨   Symbols
 * 󰼄   Media
 * 󱊇   System
 *
 * 󱅅   *unused*
 * 󱏦   *unused*
 * 󱥭   *unused*
 */
#define L_BASE     0
#define L_ENTHIUM  L_BASE
#define L_NUMBERS  1
#define L_SYMBOLS  2


/ {
    keymap {
        compatible = "zmk,keymap";

        // Enthium is an alternative layout layer
        // optimised for more comfortable typing and Vim-usage
        enthium_layer {
            display-name = "Enthium";
            bindings = <ENTHIUM>;
        };

        number_layer {
            display-name = "Numbers";
            bindings = <NUMBERS>;
        };

        symbol_layer {
            display-name = "Symbols";
            bindings = <SYMBOLS>;
        };
    };
};
