/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <behaviors/unicode.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keypos/corne.dtsi"
#include "behaviors/autoshift.dtsi"
#include "behaviors/bluetooth.dtsi"
#include "behaviors/homerowmods.dtsi"
#include "behaviors/layer-switching.dtsi"

#include "layouts/enthium.dtsi"
#include "layouts/kvant.dtsi"
#include "layouts/numbers.dtsi"
#include "layouts/symbols.dtsi"
#include "layouts/system.dtsi"


/**
 * Layers
 *
 * The following icons from a Nerd Font
 * are the symbolid representation of layers and actions on layers.
 *
 * 󰱞   Close current layer, return to base layer
 *
 * 󰪸   Typing layer
 * 󰎢   Base layer
 * 󰎥   Numbers
 * 󰎨   Symbols
 * 󰼄   Media
 * 󱊇   System
 *
 * 󱅅   *unused*
 * 󱏦   *unused*
 * 󱥭   *unused*
 */
#define L_BASE     0
#define L_ENTHIUM  L_BASE
#define L_KVANT    1
#define L_NUMBERS  2
#define L_SYMBOLS  3
#define L_SYSTEM   4


&caps_word {
  continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

&uc {
    default-mode = <UC_MODE_MACOS>;
    minimum-length = <4>; // MacOS expects exactly 4-key long sequences
};


/ {
    keymap {
        compatible = "zmk,keymap";

        // Enthium is an alternative layout layer
        // optimised for more comfortable typing and Vim-usage
        enthium_layer {
            display-name = "Enthium";
            bindings = <ENTHIUM>;
        };

        // Kvant is an alternative layout for Ukrainian
        kvant_layer {
            display-name = "Kvant";
            bindings = <KVANT>;
        };

        number_layer {
            display-name = "Numbers";
            bindings = <NUMBERS>;
        };

        symbol_layer {
            display-name = "Symbols";
            bindings = <SYMBOLS>;
        };

        system_layer {
            display-name = "System";
            bindings = <SYSTEM>;
        };
    };
};


// Combo keys
// -----------------------------------------------------------------------------
// Unfortunately, there is just that much keys one can use on a small keyboard,
// and not all the functionalities I want for my base layer fit on a 42-keys
// keyboard. The solution for that is to use Combo keys, so I can make two keys
// that make sense to be pressed together, to behave in a different way.
//
// Notice that Combo keys require the keys to be defined as numbers
// representing their physical position in the keyboard. Because of that, each
// keyboard mapping will have to define a macro for each combo on this layout.
// The names of these macros should follow the following syntax:
//
// COMBO_KEY_<combo-name>
#define COMBO_KEY_CAPS_WORD <LM1 RM1>
/ {
    combos {
        compatible = "zmk,combos";

        // Turn on CAPS_WORD when pressing both shift keys together.
        combo_caps_word {
            timeout-ms = <75>;
            key-positions = COMBO_KEY_CAPS_WORD;
            layers = <L_ENTHIUM L_KVANT>;
            bindings = <&caps_word>;
        };
    };
};
