#define QUICK_TAP_MS 175

#define ZMK_HOMEROW_MOD(NAME, HOLD, TAP, TRIGGER_POS, ...)  \
    ZMK_HOLD_TAP(NAME,                                      \
        bindings = <HOLD>, <TAP>;                           \
        flavor = "balanced";                                \
        tapping-term-ms = <280>;                            \
        quick-tap-ms = <QUICK_TAP_MS>;                      \
        require-prior-idle-ms = <150>;                      \
        hold-trigger-on-release;                            \
        hold-trigger-key-positions = <TRIGGER_POS>;         \
        __VA_ARGS__                                         \
    )

// Tap:        sticky number layer
// Shift-tap:  -
// Double-tap: num word
// Hold:       command key
// Morph:      -
#define HYPER_NUM &hml_num LCMD 0
ZMK_HOMEROW_MOD(hml_num, &kp, &num_dance, KEYS_R THUMBS)
ZMK_TAP_DANCE(num_dance,
    bindings = <&sl L_NUMBERS>, <&num_word L_NUMBERS>;
    tapping-term-ms = <200>;
)
