#define QUICK_TAP_MS 175

#define ZMK_HOMEROW_MOD(NAME, HOLD, TAP, TRIGGER_POS, ...)  \
    ZMK_HOLD_TAP(NAME,                                      \
        bindings = <HOLD>, <TAP>;                           \
        flavor = "balanced";                                \
        tapping-term-ms = <280>;                            \
        quick-tap-ms = <QUICK_TAP_MS>;                      \
        require-prior-idle-ms = <150>;                      \
        hold-trigger-on-release;                            \
        hold-trigger-key-positions = <TRIGGER_POS>;         \
        __VA_ARGS__                                         \
    )

// Tap:        sticky number layer
// Shift-tap:  -
// Double-tap: num word
// Hold:       command key
// Morph:      -
#define HYPER_NUM &hml_num LCMD 0
ZMK_HOMEROW_MOD(hml_num, &kp, &num_dance, KEYS_R THUMBS)
ZMK_TAP_DANCE(num_dance,
    bindings = <&sl L_NUMBERS>, <&num_word L_NUMBERS>;
    tapping-term-ms = <200>;
)


// Hack: Make HRM combos tap-only (cf, ZMK issue #544).
#define HOMEROW_COMBO(NAME, TAP, POS, LAYERS, COMBO_MS, IDLE_MS, HOLD, SIDE)   \
    ZMK_HOMEROW_MOD(hm_combo_##NAME, &kp, TAP, SIDE THUMBS)                    \
    ZMK_COMBO_6(NAME, &hm_combo_##NAME HOLD 0, POS, LAYERS, COMBO_MS, IDLE_MS)

#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
    ZMK_MOD_MORPH(NAME,                                                        \
        mods = <(MOD_L##MOD | MOD_R##MOD)>;                                    \
        bindings = <BINDING1>, <BINDING2>;                                     \
    )

// Tap: left/right parenthesis | Shift + tap: less-than/greater-than.
SIMPLE_MORPH(lpar_lt, SFT, &kp LPAR, &kp LT)
SIMPLE_MORPH(rpar_gt, SFT, &kp RPAR, &kp GT)


/**
 * Navigation keys
 */

// Trigger tap-action on all interrupts.
#define MT_CORE                                                                \
  flavor = "tap-preferred";                                                    \
  tapping-term-ms = <220>;                                                     \
  quick-tap-ms = <220>;                                                        \
  hold-trigger-key-positions = <0>;

ZMK_HOLD_TAP(mt_home, bindings = <&masked_home>, <&kp>; MT_CORE)
ZMK_HOLD_TAP(mt_end, bindings = <&masked_end>, <&kp>; MT_CORE)

#define C_LEFT  &mt_home 0   LEFT  // Tap: left  | Long-tap: start of line.
#define C_RIGHT &mt_end 0    RIGHT // Tap: right | Long-tap: end   of line.
#define C_UP    &mt LC(HOME) UP    // Tap: up    | Long-tap: start of doc.
#define C_DOWN  &mt LC(END)  DOWN  // Tap: down  | Long-tap: end   of doc.
#define C_BSPC  &mt LC(BSPC) BSPC  // Tap: bspc  | Long-tap: delete word bwd.
#define C_DEL   &mt LC(DEL)  DEL   // Tap: del   | Long-tap: delete word fwd.

// Mask CTRL on left/right hold to avoid accidental jumps to start/end of doc.
#define MASK_MODS(NAME, MODS, BINDING)                                         \
  ZMK_MOD_MORPH(NAME, bindings = <BINDING>, <BINDING>; mods = <MODS>;)

MASK_MODS(masked_home, (MOD_LCTL), &kp HOME)
MASK_MODS(masked_end,  (MOD_LCTL), &kp END)

#define QUIT   &kp LG(Q)
#define CLOSE  &kp LG(W)
#define CANCEL &kp K_CANCEL
