/* Base layer
 *
 * A macro definition that applies the configured mapping to darker region
 * Special and modifier keys (without letters and other symbols)
 * i. e. keys, that mostly do not change on layer switch
 *
╭────────────────── Left-side ──────────────────╮  ╭───────────────── Right-side ──────────────────╮
├───────┲━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┪  ┢━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┱───────┤
│       ┃       ┃       ┃       ┃       ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃   ┊   ┃   ┊   ┃   ┊   ┃   ┊   ┃       ┃  ┃       ┃   ┊   ┃   ┊   ┃   ┊   ┃   ┊   ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃       ┃       ┃       ┃       ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
╰───────┺━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛  ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┹───────╯
                        ┌───────┬───────┬───────┐  ┌───────┬───────┬───────┐
                        │       │ ␛ ┊ ⌘ │   ␣   │  │   ⏎   │   ⌫   │       │
                        ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
*/
#define BASE_LAYER_MAP(                                                       \
         k11, k12, k13, k14, k15,   k16, k17, k18, k19, k1A,                  \
         k21, k22, k23, k24, k25,   k26, k27, k28, k29, k2A,                  \
         k31, k32, k33, k34, k35,   k36, k37, k38, k39, k3A                   \
)                                                                             \
    k10  k11  k12  k13  k14  k15    k16  k17  k18  k19  k1A  k1B              \
    k20  k21  k22  k23  k24  k25    k26  k27  k28  k29  k2A  k2B              \
    k30  k31  k32  k33  k34  k35    k36  k37  k38  k39  k3A  k3B              \
                   k40  k41  k42    k43  k44  k45
