/**
 * The Enthium layout
 * An adaptation to my Corne keyboard
 *
 * https://sunaku.github.io/enthium-keyboard-layout.html
 * https://layouts.wiki/layouts/2026/enthium/
 *
╭────────────────── Left-side ──────────────────╮  ╭───────────────── Right-side ──────────────────╮
├───────┲━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┪  ┢━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┱───────┤
│       ┃   Q   ┃   Y   ┃   O   ┃   U   ┃   =   ┃  ┃   X   ┃   L   ┃   D   ┃   P   ┃   Z   ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│   B   ┃ C ┊   ┃ I ┊   ┃ A ┊   ┃ E ┊   ┃   -   ┃  ┃   K   ┃ H ┊   ┃ T ┊   ┃ N ┊   ┃ S ┊   ┃   W   │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃   '   ┃   ,   ┃   .   ┃   ;   ┃   /   ┃  ┃   J   ┃   M   ┃   G   ┃   F   ┃   V   ┃       │
╰───────┺━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛  ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┹───────╯
                        ┌───────┬───────┬───────┐  ┌───────┬───────┬───────┐
                        │       │   ┊   │   ␣   │  │   R   │       │       │
                        ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
 */

#pragma once

#include "../behaviors/autoshift.dtsi"
#include "../behaviors/homerowmods.dtsi"

#define ENTHIUM \
    &none  &kp Q   &kp Y     &kp O   &kp U    &kp EQUAL   &kp X  &kp L   &kp D   &kp P   &kp Z   &none \
    &kp B  LHM4(C) LHM3(I)   LHM2(A) LHM1(E)  &kp MINUS   &kp K  RHM1(H) RHM2(T) RHM3(N) RHM3(S) &kp W \
    &none  &kp SQT &kp COMMA &kp DOT &kp SEMI &kp FSLH    &kp J  &kp M   &kp G   &kp F   AS(V)   &none \
                             &none   &none    &kp SPACE   &kp R  &none   &none
