/**
 * The Kvant layout
 *
 * The layout was designed by Giorgi Chavchanidze.
 *
 * Find out more about the layout at
 *   https://lykt.xyz/kvant/
 *
 * This is my adaptation to Corne, including some letter switches
 * to align also with the underneeth Enthium layer.
╭────────────────── Left-side ──────────────────╮  ╭───────────────── Right-side ──────────────────╮
├───────┲━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┪  ┢━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┱───────┤
│   Ф   ┃   Ш   ┃   З   ┃   Е   ┃   У   ┃   Ю   ┃  ┃   Б   ┃   П   ┃   Р   ┃   М   ┃   Ж   ┃   -   │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│   Щ   ┃ Д ┊ ⌘ ┃ С ┊ ⌥ ┃ І ┊ ⌃ ┃ А ┊ ⇧ ┃   И   ┃  ┃   К   ┃ В ┊ ⇧ ┃ Н ┊ ⌃ ┃ Т ┊ ⌥ ┃ Л ┊ ⌘ ┃   Ц   │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│   '   ┃   ,   ┃   Ч   ┃   Ь   ┃   Я   ┃   Ї   ┃  ┃   Г   ┃   Й   ┃   Є   ┃   Х   ┃   .   ┃   Ґ   │
╰───────┺━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛  ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┹───────╯
                        ┌───────┬───────┬───────┐  ┌───────┬───────┬───────┐
                        │   ⌫   │ ⎋ ┊ ⌘ │   ␣   │  │   ⏎   │   О   │ 󰎥 ┊ 󰎨 │
                        ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
 */
#pragma once

// Shorter definition for Й
#define UC_UK_J   UC_UK_I_SHORT
#define UC_UK_YE  UC_UK_IE

#define UK(LETTER_NAME) &uc UC_UK_##LETTER_NAME

#define KVANT \
    UK(F)     UK(SH)    UK(Z)     UK(E)     UK(U)     UK(YU)    UK(B)     UK(P)     UK(R)     UK(M)     UK(ZH)    &kp MINUS \
    UK(SCH)   UK(D)     UK(S)     UK(I)     UK(A)     UK(Y)     UK(K)     UK(V)     UK(N)     UK(T)     UK(L)     UK(TS)    \
    &trans    &kp COMMA UK(CH)    UK(SOFT)  UK(YA)    UK(YI)    UK(H)     UK(J)     UK(YE)    UK(KH)    &kp DOT   UK(G)     \
                                  &trans    &trans    &trans    &trans    UK(O)     &trans
