/**
 * Numbers
 *
╭────────────────── Left-side ──────────────────╮  ╭───────────────── Right-side ──────────────────╮
├───────┲━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┪  ┢━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┱───────┤
│       ┃       ┃   7   ┃   4   ┃   1   ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃   0   ┃ 8 ┊ ⌥ ┃ 5 ┊ ⌃ ┃ 2 ┊ ⇧ ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃       ┃   9   ┃   6   ┃   3   ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
╰───────┺━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛  ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┹───────╯
                        ┌───────┬───────┬───────┐  ┌───────┬───────┬───────┐
                        │       │   .   │   ┊   │  │       │       │       │
                        ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
*/

#pragma once

#define NUMBERS \
    &none  &none   &kp N7    &kp N4    &kp N1    &none      &none &none  &none  &none  &none  &none \
    &none  &kp N0  LHM3(N8)  LHM2(N5)  LHM1(N2)  &none      &none &none  &none  &none  &none  &none \
    &none  &none   &kp N9    &kp N6    &kp N3    &none      &none &none  &none  &none  &none  &none \
                             &trans    &kp DOT   &trans     &trans &trans &trans
