/**
 * Symbols
 *
 * Inspired by Pascal Getreuer's blog post “Designing a Symbol Layer”:
 * https://getreuer.info/posts/keyboards/symbol-layer/
 *
╭────────────────── Left-side ──────────────────╮  ╭───────────────── Right-side ──────────────────╮
├───────┲━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┪  ┢━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┱───────┤
│       ┃   `   ┃   <   ┃   >   ┃   -   ┃   |   ┃  ┃   ^   ┃   {   ┃   }   ┃   $   ┃       ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃   !   ┃   *   ┃   /   ┃   =   ┃   &   ┃  ┃   #   ┃   (   ┃   )   ┃   ;   ┃   "   ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃   ~   ┃   +   ┃   [   ┃   ]   ┃   %   ┃  ┃   @   ┃   :   ┃   ,   ┃   .   ┃   '   ┃       │
╰───────┺━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛  ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┹───────╯
                        ┌───────┬───────┬───────┐  ┌───────┬───────┬───────┐
                        │       │       │   󰱞   │  │   󰎥   │       │       │
                        ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
*/
#define SYMBOLS \
    &trans  &kp GRAVE  &kp LT     &kp GT    &kp MINUS  &kp PIPE      &kp CARET  &kp LBRC   &kp RBRC   &kp DLLR  &none    &trans \
    &trans  &kp EXCL   &kp ASTRK  &kp FSLH  &kp EQUAL  &kp AMPS      &kp HASH   &kp LPAR   &kp RPAR   &kp SEMI  &kp DQT  &trans \
    &trans  &kp TILDE  &kp PLUS   &kp LBKT  &kp RBKT   &kp PRCNT     &kp AT     &kp COLON  &kp COMMA  &kp DOT   &kp SQT  &trans \
                                  &trans    &trans     &to L_BASE    &trans     &trans  &trans
