/**
 * Numbers
 *
╭────────────────── Left-side ──────────────────╮  ╭───────────────── Right-side ──────────────────╮
├───────┲━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┪  ┢━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┱───────┤
│       ┃       ┃       ┃       ┃       ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃       ┃       ┃       ┃       ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
├───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫  ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╉───────┤
│       ┃       ┃       ┃       ┃       ┃       ┃  ┃       ┃       ┃       ┃       ┃       ┃       │
╰───────┺━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛  ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┹───────╯
                        ┌───────┬───────┬───────┐  ┌───────┬───────┬───────┐
                        │       │       │       │  │       │       │       │
                        ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
*/

#pragma once

#define BTK(_N) &bt BT_SEL _N

#define SYSTEM \
    &trans  BTK(0) BTK(1) BTK(2) BTK(3) BTK(4)         &none  &none  &none  &none  &none  &trans \
    &bt BT_CLR  &bt BT_CLR_ALL  &none  &none  &none  &none          &none  &none  &none  &none  &none  &none  \
    &trans  &none  &none  &none  &none  &none          &none  &none  &none  &none  &none  &trans \
                         &trans &trans &trans          &trans  &trans  &trans
